$maincolor: #C47460;
$white: #FFFFFF;
$dark: #1A0F0C;
$black: #000000;
$gray: #FAF9F9;
$light: #9A857F;
$lightest: #CDC1BE;
$shadow: #F0EDEC;
$linear-gradient-one: #FC957C;
$linear-gradient-two: #C47460;
$warning: #F6D55C;
$success: #3CAEA3;
$infomation: #20639B;
$input-border: #F0F0F0;
$input-border-hover: #E5DFDE;
$placeholder-color: #BFB0AC;
$form-field-input: #DAD1CF;